:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LINK */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* BODY */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* BUTTON */
button {
  border-radius: 15px;
  /* border: 1px solid transparent; */
  border: 2px dashed #c77dff66;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.4rem;
}
button:hover {
  border-color: #ff64fa;
  transform: scale(1.05);
}
button:focus,
button:focus-visible {
  outline: none;
  border-color: #c77dff66;
}
button.correct {
  background-color: #b4ffb9;
  color: white;
}

button.wrong {
  background-color: #ffb4b4;
  color: white;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

/*  */
.card {
  padding: 2em;
}
/* MILESTONE 2 */
.start-screen {
  display: flex; 
  flex-direction: column; /*vertical layout*/
  align-items: center;  /*horizontal center*/
  justify-content: center;  /*vertical center inside parent*/
  gap: 1.5 rem;   /*space between heading, paragraph, button*/
  padding: 2rem;  /*inside spacing*/
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #3d1a5c;
    background-color: #ffe5f3;
  }
  a:hover {
    color: #ff64fa;
  }
  button {
    background-color: #0000001e;
  }
}
